@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Montserrat:400,700|Cinzel+Decorative:400,700,900|Gochi+Hand);

/* core overrides
----------------- */

body {
    background-color: #1A2229;
	color: #e6e6e6;
	font-family: 'Roboto', sans-serif;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url(../img/backgrounds/blurry_bluer.jpg);
}




/* typo
------- */

.cap {
	font-family: 'Cinzel Decorative', cursive;
	text-transform: uppercase;
	font-weight: 400;
}

.thin {
	font-weight: 300;
}

.centered {
	text-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .25em;
}

.page-header {
	border-bottom: 1px solid #e6e6e6;
}

.navbar-inverse {
	background: rgba(45, 53, 60, 0);  /* #242A30 */
}

.navbar-static-top {
	border-width: 0;
	background: rgba(45, 53, 60, 0); /* #2D353C */
}

.navbar-inverse .navbar-text {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .25em;
	color: #fff;
}

.display {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
	

.navbar-brand {
	letter-spacing: 0.25em;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}




#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: rgba(26, 34, 41, 0); /* #1A2229 */
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
	color: #fff;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
	color: #333;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    
}

.sidebar ul li a {
    color: #7f8c8d;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: rgba(26, 34, 41, 0.5);
	color: #fff;
}

.sidebar ul li a.active {
    background-color: none;
	color: #E74C3C;
}

.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus {
	background-color: #000;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(255,255,255,1);
	opacity: 0.75;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.big {
    font-size: 16px;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}




/* --------------------------------- *\

	gui elements
	
\* --------------------------------- */

/* panels
--------- */

.panel {
	border: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading {
	padding: 8px;
	color: #eee;
}

h3.panel-title {
	font-weight: 300;
	font-size: 14px;
	color: #999;
}

.panel a:link,
.panel a:visited {
	color: #e6e6e6;
	display: block;
}

.panel a:hover {
	text-decoration: none;
	color: #E74C3C;
}

.panel .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}




/* variations */

.panel-dark .panel-heading {
	background: #1e1e1e;
}

.panel-dark table {
	color: #e6e6e6;
}

.panel-cyan .panel-heading {
	background: #3498db;
}

.panel-cyan h3.panel-title {
	color: #fff;
}




/* tables and datatables
------------------------ */

#offertable {
	background-color: rgba(26, 34, 41, .75);
}

#offertable a:link, #offertable a:visited, #offertable a:focus {
	color: #e6e6e6;
}



.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: rgba(0, 0, 0, .25);
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #000;
}

.datepicker-days {
	color: #333;
}




/* --------------------------------- *\

	color swatches

\* --------------------------------- */

.pomegranate-bg {background: #c0392b; color: #ffffff;}
.pumpkin-bg {background: #d35400; color: #ffffff;}
.orange-bg {background: #f39c12; color: #ffffff;}
.greensea-bg {background: #16a085; color: #ffffff;}
.nephritis-bg {background: #27ae60; color: #ffffff;}
.belizehole-bg {background: #2980b9; color: #ffffff;}
.wisteria-bg {background: #8e44ad; color: #ffffff;}
.midnightblue-bg {background: #2c3e50; color: #ffffff;}
.asbetstos-bg {background: #7f8c8d; color: #ffffff;}
.silver-bg {background: #bdc3c7; color: #ffffff;}

.peterriver-bg {background: #3498db; color: #ffffff;} /* light blue */
.tourquoise-bg {background: #1abc9c; color: #ffffff;} /* light green-blue */



/* --------------------------------- *\

	tiny mce editor

\* --------------------------------- */

.mce-content-body {
	background: rgba(255,255,255,.9);
	border-radius: 4px;
	color: #333;
	padding: 4px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.mce-content-body img{
	width: 100% !important;
}
